@model ScrumPoker.Models.Room

<div class="container">
    <h1>Admin for @Model.Name</h1>
    <p>@Model.Description</p>

    <ul>
        <li>@Html.ActionLink("Show dashboard", "Dashboard", "Client", new { id = @Model.RoomId }, new { target = "_blank"})</li>
        <li>@Html.ActionLink("Show client", "Index", "Client", new { roomId = @Model.RoomId }, new { target = "_blank"})</li>
    </ul>

    <h2>Participants</h2>
    <ul data-bind="foreach: participants">
        <li>
            <span data-bind="text:Name"></span>
            <span data-bind="text:Email"></span>
            <span></span>
        </li>
    </ul>
    
    <h2>Issues</h2>
    <ul>
        @if (Model.Issues.Any())
        {
            foreach (var issue in Model.Issues)
            {
                <li>@issue.Name - @issue.Description</li>
            }
        }
        else
        {
            <li>No issues</li>
        }
    </ul>
    @if (Model.CurrentIssue != null)
    {
        <p>Current issue: @Model.CurrentIssue.Name @Model.CurrentIssue.Description</p>
    }
    else
    {
        <p>There is no current issue.</p>
    }
    <p>
        @Html.ActionLink("Set issue", "SetIssue")
        @Html.ActionLink("Create issue", "CreateIssue")
    </p>
</div>

@section scripts
{
    <script>
        $(function () {
            var roomAdminController = new RoomAdminController();
            
            var hub = $.connection.roomHub;

            hub.client.newParticipant = function (participant) {
                roomAdminController.push(participant);
            };

            hub.client.removeParticipant = function (name) {
                alert(name + " has left the room.");
                return;
            };
            
            $.connection.hub.start().done(function() {
                hub.server.joinRoom("@Model.RoomId", "PID");

                $(window).unload(function () {
                    hub.server.leaveRoom("@Model.RoomId", "PID");
                });
            });

            ko.applyBindings(roomAdminController);
        });
    </script>
}
