@model ScrumPoker.Controllers.ClientController.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Room @Model.Room.Name</h2>
    <p>@Model.Room.Description</p>

    <div data-bind="if: currentIssue">
        <h2 data-bind="text: currentIssue().name"></h2>
        <p data-bind="text: currentIssue().description"></p>
    </div>

    <div>
        <h2>Participants</h2>
        <ul data-bind="foreach: participants">
            <li>
                <span data-bind="text:name"></span>
                (<span data-bind="text:email"></span>)
            </li>
        </ul>
    </div>


    @if (string.IsNullOrEmpty(Model.Participant.Vote))
    {
        <h2>Vote</h2>
        <ul>
            @foreach (var size in @Model.Room.VoteSizes)
            {
                <li>
                    @Html.ActionLink(size, "Vote", new {vote = size})
                </li>
            }
        </ul>
    }
    else
    {
        <h2>You voted @Model.Participant.Vote</h2>
    }
</div>

@section scripts
{
    <script>
        $(function () {
            var controller = new RoomClientController();
            
            var hub = $.connection.roomHub;

            hub.client.participantJoins = function (participant) {
                controller.participants.push(new Participant(participant));
            };

            hub.client.participantLeaves = function (participantId) {
                controller.participants.removeAll(function(item) {
                     return item.participantId() == participantId;
                });
            };

            hub.client.newIssue = function(issue) {
                controller.currentIssue(new Issue(issue));
            };
            
            hub.client.initRoom = function (initData) {
                initData.participants.forEach(function (item) {
                    controller.participants.push(new Participant(item));
                });
            };
            
            $.connection.hub.start().done(function() {
                hub.server.joinRoom("@Model.Room.RoomId", "PID");

                $(window).unload(function () {
                    hub.server.leaveRoom("@Model.Room.RoomId", "PID");
                });
            });

            ko.applyBindings(controller);
        });
    </script>
}
