@model ScrumPoker.Models.Participant

@{
    ViewBag.Title = "Join Room";
}

<div class="container">
    <h2>Join Room @Model.Room.Name</h2>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.RoomId)

        @Html.EditorFor(x => x.Name, "String")
        @Html.EditorFor(x => x.Email, "String")

        <div class="form-group">
            <input type="submit" value="Join room" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", "Rooms", new {}, new { @class="btn btn-default"})
        </div>
    }
</div>
