@model IEnumerable<ScrumPoker.Models.Room>

<div class="container">
    <h1>Room list</h1>

    <ul>
        <li>@Html.ActionLink("Create new room", "Create")</li>
    </ul>
    
    @if (!Model.Any())
    {
        <p>There are no rooms here, why not @Html.ActionLink("create", "Create") one?</p>
    }
    else
    {
        <ul>
            @foreach (var room in Model)
            {
                <li>
                    <b>@Html.ActionLink(room.Name, "Index", "Client", new {roomId = @room.RoomId}, new {})</b>
                    <b>@Html.ActionLink("Admin", "Index", "Admin", new {roomId = @room.RoomAdminId}, new {})</b>
                    -
                    <i>@room.Description</i>
                </li>
            }
        </ul>
    }
</div>